* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    min-height: 100vh;
    background: linear-gradient(to right top, #2da58f, #6cdbeb);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 8vw) repeat(4, 15.5vw) 10vw;
    grid-template-rows: 10vh repeat(6, 12vh) 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.logo { 
    grid-area: 2 / 2 / 4 / 4;
    font-family: 'Monoton';
    z-index: 3; 
    text-align: center;
    margin-top: 30px;
    font-size: 2vw;
}
.logo img{
    width: 8em;
}
.home,
.projects,
.blog,
.feedback {
    z-index: 5;
    text-align: center;
    
}
.home a,
.projects a,
.blog a,
.feedback a{
    color: #57575d;
    text-decoration: none;
    font-size: 2vw;
    padding: 10px 25px;
    border: 1 px solid;
    border-radius: 20px;
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.199)
    );
}
.home a:hover,
.projects a:hover,
.blog a:hover,
.feedback a:hover{
  background-color: white;
  padding:16px 32px;
}
.welcome {
    text-align: center;
    color: #57575d;
    font-size: 2.5em;
    animation: text 5s forwards ;
}
@keyframes text{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

 
.home { 
  grid-area: 4 / 2 / 5 / 4;
  animation:slide-in-top .6s cubic-bezier(.25,.46,.45,.94) both;
 }
 @keyframes slide-in-top{
   0% {
     transform:translateY(-1000px);
     opacity:0
    }
   100%
     {
       transform:translateY(0);
       opacity:1
      }
    }
.projects { 
  grid-area: 5 / 2 / 6 / 4;
  animation:slide-in-top .6s cubic-bezier(.25,.46,.45,.94) 0.5s both; 
}
.blog { 
  grid-area: 6 / 2 / 7 / 4;
  animation:slide-in-top .6s cubic-bezier(.25,.46,.45,.94) 1s both; 
}
.feedback { 
  grid-area: 7 / 2 / 8 / 4;
  animation:slide-in-top .6s cubic-bezier(.25,.46,.45,.94) 1.5s both; 
}


.base { 
  grid-area: 4 / 4 / 8 / 8;
  background: white;
  z-index:2;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.199)
    );
  border-radius: 30px;
}

.glass { 
  grid-area: 2 / 2 / 8 / 8;
  background: white;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
  border-radius: 2rem;
  backdrop-filter: blur(2rem); 
}

.skill-bars{
  padding: 25px 30px;
  margin:5%;
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 1s 1.5 linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 2s cubic-bezier(1,0,0.6,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  animation: animate 1s 1s cubic-bezier(1,0,0.3,1) forwards;
}
.bar .progress-line.html span{
  width: 85%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.javascript span{
  width: 40%;
}
.bar .progress-line.bootstrap span{
  width: 50%;
}
.bar .progress-line.photoshop span{
  width: 50%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "85%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.javascript span::after{
  content: "40%";
}
.progress-line.bootstrap span::after{
  content: "50%";
}
.progress-line.photoshop span::after{
  content: "66%";
}
.text p{
    font-size: 1.2em;
    text-align: center;
    padding:0 2vw;
    line-height: 1.3em;
    color: #57575d;
    animation: welcome 3s ease-in-out both;
   }
@keyframes welcome {
      0% {
        transform: translateX(-100px) ;
        opacity: 0;}
      100% {
        transform: translateX(0) ;
        opacity: 1;}
   }
.text {
    grid-area: 2 / 4 / 4 / 8;
    padding: 0.9rem 2rem;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border: 1px solid transparent;
    border-radius: 2em;
    z-index: 3;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .post-arrow {
    position: absolute;
    right: 1.3vw;
    top: 1.3vw;
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
  .arrow {
    width: 4em;
  }
  .btn {
    color: #57575d;
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 17px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.199)
    );
    cursor: pointer;
  }
  .btn:hover {
    background-color: white;
    padding: 15px 25px;
  }
  .hidden {
    display: none;
  }

@media only screen and (max-width: 900px) {
  .hidden-mb {
    display: none;
  }
  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    grid-template-columns: repeat(2, 49vw);
    grid-template-rows: 20vh repeat(2, 10vh) 25vh 10vh repeat(3, 20vh);
    grid-column-gap: 0px;
    grid-row-gap: 6px;
}

.logo {
    grid-area: 1 / 1 / 2 / 4;
}

.logo img {
    width: 12rem;
    margin-top: 6%;
}

.home {
    grid-area: 2 / 1 / 3 / 2;
}

.projects {
    grid-area: 3 / 1 / 4 / 2;
}

.blog {
    grid-area: 2 / 2 / 3 / 3;
}

.feedback {
    grid-area: 3 / 2 / 4 / 3;
}

.text {
    grid-area: 4 / 1 / 6 / 3;
    text-align: center;
    margin: 0 5%;
    padding: 4% 0;
}

.text p {
    font-size: 1.4em;
}

.base {
    grid-area: 6 / 1 / 9 / 3;
    margin: 1% 5%;
}

.glass {
    grid-area: 1 / 1 / 9 / 3;
    margin: 5%;
}

.home a,
.projects a,
.blog a,
.feedback a {
    font-size: 1.4em;
}
}
@media only screen and (max-width: 500px) {
.text {
  padding: 0;
  font-size: 0.7em;
}
.home a,
.projects a,
.blog a,
.feedback a{
  padding: 7px 17px;
}
.artworks {
  margin-top: -3em;
}
}